*{background-color: #003366;color: white;}

QMenu
{color: #e3e0d8;background-color: #003366;selection-background-color:#080912;selection-color: #ffffff;}

QWidget:item:hover {background-color: #3f3f40;color: #ffffff;}

QWidget:item:selected {background-color: #080912;}

QTabBar:tab:selected {background: gray;}


QStatusBar {height: 4px; background-color:#003366;color: #ffffff;} 

QPushButton {background-color: #5b5c5b; color: white;} 

QWidget {background-color: #003366;}

QInputDialog{{background-color: #003366;color: white;}
 


